* {
  margin: 0;
  padding: 0;
  font-family: "vollkorn", serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 1080px) {
  html {
    font-size: 55%;
  }
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
}

.container {
  background-color: var(--secondary-color);
  margin: 3.5rem;
  box-shadow: 0 1rem 3rem #777;
}

@media (max-width: 780px) {
  .container {
    margin: 0;
  }
}

header {
  width: 100%;
  height: calc(100vh - 7rem);
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
    url("images/header-bg.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  perspective: 100rem;
  overflow: hidden;
}
.header-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 3px 5px #777;
}

.header-text h1 {
  font-size: 8rem;
  color: white;
}
.header-text p {
  font-size: 3rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 70rem;
  margin: auto;
}

.logo {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.logo h1 {
  display: flex;
}

.logo h1 span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-color);
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  animation: drop-letters 5s;
  animation-iteration-count: infinite;
}

@keyframes drop-letters {
  0%,
  10%,
  100% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0);
  }
}

.header-image {
  width: 35%;
  animation: image-float 150s infinite;
}

@keyframes image-float {
  0% {
    transform: translateZ(0rem);
    opacity: 1;
  }
  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }
  70% {
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: 0.6;
  }

  80% {
    transform: translateZ(-50rem) translateX(200rem);
    opacity: 0.8;
  }

  100% {
    transform: translateZ(0rem);
    opacity: 1;
  }
}

/*------------ Popupar tours section------------- */

.popular-tours {
  padding: 5rem;
}

.tours-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 1px 2px var(--primary-color);
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  position: relative;
  perspective: 150rem;

  width: 35rem;

  box-shadow: 0 2rem 4rem #777;
}

.front-side {
  border-radius: 4px;
  overflow: hidden;

  background-color: white;

  position: relative;
  z-index: 10;

  transition: opacity 0.4s, transform 0.4s;
}

.card-image {
  width: 100%;
}

.tour-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  color: white;
  text-shadow: 0 0 1rem #000;
}

.card-list {
  background-color: rgba(244, 248, 252, 0.348);
  width: 80%;
  margin: auto;
}

.card-list-item {
  border: none;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-weight: 500;
  color: #777;
  border-bottom: 0.1rem solid var(--primary-color);
}

.card-list-item:last-child {
  border: none;
}

.navigation-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--light-grey-color);
  border-radius: 0.3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

/* Styles for the back side */

.back-side {
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  background-color: var(--primary-color);
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transform: translateZ(-5rem) translateX(3rem);
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.tour-price {
  font-size: 5rem;
  font-weight: 300;
  color: white;
  margin-bottom: 3rem;
}

.card-button {
  padding: 1rem 3rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

/* eventListners for front and back side */

.card.change .front-side {
  transform: translateZ(-5rem) translateX(3rem);
  z-index: 1;
}

.card.change .back-side {
  transform: translateZ(0) translateX(0);
  z-index: 1;
}

/* -----------------testimonials---------------- */

.testimonials-section {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: relative;
}

.testimonial {
  width: 70%;
  background-color: rgba(238, 238, 238, 0.85);
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 4rem 6rem;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

@media (max-width: 1080px) {
  .testimonial {
    transform: skewX(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem 3rem;
  }

  .testimonial img,
  .text-container {
    transform: skew(0deg) !important;
  }
}

.text-container {
  transform: skew(-20deg);
}

.testimonial img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
  transform: skew(-20deg);
}

.text-container h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
  width: 100%;
}
.text-container p {
  font-size: 1.8rem;
  color: var(--light-grey-color);
  letter-spacing: 1px;
}

/* background video */

.background-vid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -----------------contact-section-------------- */
.contact-section {
  height: 100rem;
  padding-top: 10rem;
  background: url("./images/contact-us-bg.png") center no-repeat;
  background-size: cover;
  padding: 2rem;
}

.contact-heading {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: white;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 8rem;
}

form {
  max-width: 70rem;
  width: 100%;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin: auto;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem #000;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
}

.input-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input-group input,
.input-group textarea {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}

/* styles for the placeholder */

.input-group input::placeholder,
.input-group textarea::placeholder {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

/* Styles for the labels */

.input-group label {
  position: absolute;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-top: 1rem;
}

.contact-details {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 640px) {
  .contact-details {
    flex-direction: column;
  }
}

.contact-details * {
  flex: 1;
}

.form-btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: rgb(109, 109, 109);
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-btn:hover {
  opacity: 1;
}

/* set height contraints to text area */

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 15rem;
}

/* Create animated background */

@keyframes animated-bg {
  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #1e81f3;
  }

  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}

/* animation added to the section container */
.contact-section,
.form-btn {
  animation: animated-bg 35s infinite;
}
